<div class="row">
  <div *ngIf="selectedTeacher" class="col-sm-6">
  
    <div class="d-flex mb-3">
      <div class="p-2">
        <app-title [title]="'Id #' + selectedTeacher.id"></app-title>
      </div>
    </div>
  
    <form [formGroup]="teacherForm" (submit)="teacherSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last name</label>
        <input type="text" formControlName="lastname" class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Subject</label>
        <input type="text" formControlName="subject" class="form-control">
      </div>
      
      <button class="btn btn-primary me-3" [disabled]="!teacherForm.valid">Submit</button>
      <button class="btn btn-outline-secondary" (click)="back()">Close</button>
    </form>
  
  </div>
  
  <div [ngClass]="{'col-sm-6': selectedTeacher, 'col-sm-12': !selectedTeacher }">
    <app-title [title]="title"></app-title>

    <br>
    
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers" (click)="selectTeacher(teacher)" style="cursor: pointer">
          <th scope="row">{{ teacher.id }}</th>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.lastname }}</td>
          <td>{{ teacher.subject }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
