<div *ngIf="selectedTeacher">

  <div class="d-flex mb-3">

    <div class="p-2">
      <app-title [title]="'Teacher: ' + selectedTeacher.name"></app-title>
    </div>

    <div class="p-2 ms-auto">
      <button class="btn btn-outline-secondary" (click)="back()">Back to teacher list</button>
    </div>

  </div>

  <br>

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Subject</label>
      <input type="text" class="form-control" id="phone">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


<div *ngIf="!selectedTeacher">
  <app-title [title]="title"></app-title>
  
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers" (click)="selectTeacher(teacher)" style="cursor: pointer">
        <th scope="row">{{ teacher.id }}</th>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.lastname }}</td>
        <td>{{ teacher.subject }}</td>
      </tr>
    </tbody>
  </table>
</div>
