<div class="row">

  <!-- <div>
    <input type="text" [(ngModel)]="textSimple">
    <p>{{ textSimple }}</p>
  </div> -->

  <div *ngIf="selectedStudent" class="col-sm-6">
    
    <div class="d-flex mb-3">
      <div class="p-2">
        <app-title [title]="'Id #' + selectedStudent.id"></app-title>
      </div>
    </div>
    
    <form [formGroup]="studentForm" (submit)="studentSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last name</label>
        <input type="text" formControlName="lastname" class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone number</label>
        <input type="text" formControlName="phone" class="form-control">
      </div>
      
      <button class="btn btn-primary me-3" [disabled]="!studentForm.valid">Submit</button>
      <button class="btn btn-outline-secondary" (click)="back()">Close</button>
    </form>
    
  </div>
  
  <div [ngClass]="{'col-sm-6': selectedStudent, 'col-sm-12': !selectedStudent}">
    <app-title [title]="title"></app-title>
    
    <br>

    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" (click)="selectStudent(student)" style="cursor: pointer">
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.name }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
