<div *ngIf="selectedStudent">

  <div class="d-flex mb-3">

    <div class="p-2">
      <app-title [title]="'Student: ' + selectedStudent.name"></app-title>
    </div>

    <div class="p-2 ms-auto">
      <button class="btn btn-outline-secondary" (click)="back()">Back to student list</button>
    </div>

  </div>

  <br>

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Last name</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Phone number</label>
      <input type="text" class="form-control">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</div>

<div *ngIf="!selectedStudent">
  <app-title [title]="title"></app-title>
  
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" (click)="selectStudent(student)" style="cursor: pointer">
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
